!!!
%html
  %head
    %title El Crappo McAppo
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %style
      :plain
        body {padding-top: 80px;}
  %body
    %script(src="http://code.jquery.com/jquery-latest.js")
    %script(src="js/bootstrap.min.js")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
            -$pages.each do |page|
              %span(class="icon-bar")
          %a(href="/" class="brand") El Crappo McAppo
          .nav-collapse.collapse
            %ul(class="nav")
              -$pages.each do |page|
                %li
                  %a{:href => page}
                    =page
    .container
      =yield
