!!!
%html
  %head
    %title El Crappo McAppo
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %style
      :plain
        body {padding-top: 60px;}
  %body
    %script(src="http://code.jquery.com/jquery-latest.js")
    %script(src="js/bootstrap.min.js")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a(href="#" class="brand") El Crappo McAppo
    .container
      %h1
        =foo

