%h2 About
%p
  El Crappo McAppo is me playing about with Sinatra and Heroku for both fun and profit. By fun I mean because I'd rather do this than any work and by profit I mean I might actually learn some skills that mean I can make a decent app which means I can either use it to sell shit or serve ads.
%p
  Cos that's just the kind of guy I am.
